.btn-custom-primary {
  background-color: #0056b3;
  border: none;
}

.btn-custom-primary:hover {
  background-color: #004494;
}

.task-card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.btn-outline-success:disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: #6c757d;
}
